<div class="panel panel-info">
  <div class="panel-heading">

    <% filt_proj = @user.projects.find_by(:name => params[:proj]) %>
    <% task_filtered = Task.all.where(:project_id => filt_proj.id).order('due asc') %>

    <h1>Project: <%= task_filtered.first.project.name %>
      <span class="btn btn-danger btn-md" role="button" title="Deletes project and all tasks in the project"><%= link_to "Delete", "/projects/#{task_filtered.first.project.id}/delete", {:style => 'color: #FFFFFF'} %>
      </span>
    </h1>
  </div>
  <div class="panel-body">
    <h2><i class="fa fa-users"></i>Team Members:
    <% team_project = Project.find_by(:name => params[:proj]) %>
    <% team_project.users.each do |member| %>
    <span class="label label-info label"><%= member.first_name %></span>
    <% end %></h2>
  </div>
  </div>



  <div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Project</th>
        <th>Task</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Edit</th>
      </tr>
    </thead>

    <% task_filtered.each do |task| %>
      <tbody>
      <tr>
        <td><a href="/tasks?proj=<%= task.project.name %>"><%= task.project.name %></a></td>
        <td><a href="/tasks/<%=task.id %>/show"><%= task.name %></a></td>
        <td><%= task.due %></td>
        <td><%= link_to "/tasks/#{task.id}/updatestatus" do %>
          <% if task.completed %>
            <i class="fa fa-check-square-o fa-2x"></i>
          <% else %>
            <i class="fa fa-square-o fa-2x"></i>
          <% end %>
        <% end %></td>
        <td><%= link_to "Edit", "/tasks/#{task.id}/edit?ref=home" %> |
                <%= link_to "Delete", "/tasks/#{task.id}/delete" %>
        </td>
      </tr>
    </tbody>
    <% end %>
    </table>
</div>
