<div class="page-header">
  <h1>Edit Task: <%= @task.name %></h1>
</div>

<form action="/tasks/<%= @task.id %>/update">
  <div class="form-group">

    <label>Select Project | <a href="/projects/new" class="btn btn-primary btn-md" role="button">Create New Project</a></label>
     <select name="project_id" class="form-control input-md">
     <% if @user.present? %>
      <% user_projects = @user.projects.order('name asc') %>
      <% user_projects.all.each do |project| %>
        <option selected="<%= @task.project.id %>" value="<%= project.id %>"><%= project.name %></option>
      <% end %>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <label>Enter Task Name:</label>
    <input value="<%= @task.name %>" name="name" type="text" class="form-control input-md" placeholder="Example: Take out the trash.">
  </div>
  <div class="form-group">
    <label>Enter Due Date</label>
    <input value=<%= @task.due %> name="due" type="date" class="form-control input-md" placeholder="YYYY-MM-DD">
  </div>
  <!-- <div class="form-group">
    <label>Enter Task Details:</label>
    <textarea name="details" class="form-control input-md"  rows="5" ></textarea>
  </div> -->
  <button type="submit" class="btn btn-success btn-md">Create</button>
  or
  <a href="/tasks">Cancel</a>
</form>
